@import './variables.styl'
@import './post.styl'
@import './code.styl'
@import './custom-block.styl'

body,h1,h2,h3,h4,h5,h6,ul,p
  margin 0
  padding 0

body
  background $bgColor
  color $textColor
  font-size $fontSize
  line-height 2
  font-family $fontFamily
  -webkit-font-smoothing: antialiased;

body,
#app,
.theme-container
  min-height 100vh

// ::selection{
//   background:#8ed057;
//   color:#fff
// }

// ::-moz-selection{
//   background:#8ed057;
//   color:#fff
// }

.theme-container
  position relative
  padding-bottom 88px
  max-width 750px
  margin 0 auto
  box-sizing border-box

a
  text-decoration none
  &:hover, &:active, &:visited
    color $darkColor

