//
// Variables
// -----------------------------------------
$fontSize = 14px
// $fontFamily = '方正细金陵简体', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif
$fontFamily = 'Hiragino Sans GB', "PingFang SC", "Microsoft YaHei", "\5B8B\4F53", simsun, Arial, sans-serif
$monospaceFontFamily = 'Ubuntu Mono', 'PT Mono', Consolas, Monaco, Menlo, monospace
$bgColor = #fff
$textColor = #555
$linkColor = #0bb304
$metaColor = #888
$codeBgColor = #f7f7f7
$lineColor = #ddd
$greyColor = #6c757d
$greyColor2 = #ccc
$darkColor = #343a40
$shadowColor = #9B9B9B
$lineColor = #eaecef